<h2>Set security camera alert options</h2>

<%= form_for :alert, url: alert_path do |a| %>

  <div class="form-group">
    <%= a.label "How would you like to recieve your alerts?" %><br>

    <div class="checkbox">
      <label>
        <%= a.check_box(:phone) %> Phone
      </label>
    </div>

    <div class="checkbox">
      <label>
        <%= a.check_box(:email) %> Email
      </label>
    </div>
  </div>

  <div class="form-group form-inline">
    <%= a.label "Alert me if " %>
    <%= a.select(:people, options_for_select([['more than one person detected', 1], ['2+ people detected', 2], ['any activity', 3]]), {}, {class: "form-control"}) %>
  </div>

  <div class="form-group form-inline">
    <%= a.label "Optional time of day to monitor (will default to 2 hour period if both times are not specified):" %><br>

    Start time <%= a.time_field :start, class: "form-control" %>
    until <%= a.time_field :end, class: "form-control" %>
  </div>

  <%= a.submit "Save optional settings", :class => "btn btn-primary" %>

<% end %>
